.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Default (Light Mode) */
body {
  background: #e0f7fa;
  font-family: 'Recursive', sans-serif;
  margin: 0;
  padding: 0;
}

/* Dark Mode Styles */
body.dark {
  background: #121212;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.weather-card {
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  color: white;
}

/* Dark Mode for Card */
body.dark .weather-card {
  background-color: #424242;
}

/* Light Mode for Card */
body.light .weather-card {
  background-color: #039be5;
}

/* Toggle Switch Styles */
.theme-toggle-label {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.theme-toggle {
  display: none;
}

.slider {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 34px;
  position: relative;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: white;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}

.theme-toggle:checked + .slider {
  background-color: #0288d1;
}

.theme-toggle:checked + .slider:before {
  transform: translateX(26px);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
